body {
    font-family: sans-serif;
    color: grey;
    padding-bottom: 25px;
}

html {
    scroll-behavior: smooth;
  }

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.nametag{
    padding: 5px;
    background-color: #ffffff;
    position: fixed;
    top: 0;
}

h1 {
    font-size: 400%;
    color: grey;
    font-weight: bold;
    margin-top: 50px;
}

nav {
    color: grey;
}

a {
    color: rgb(85, 85, 85);
    text-decoration: none;
    /* font-size: 150%; */
    transition: all 0.5s;
}

a:hover {
    text-shadow:0 0 1px blue;
}

.sq-container {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.black-sq {
    width: 10px;
    height: 10px;
    background: grey;
    margin: 0 2px;
    display: inline-block;
}


.hero-sphere {
	display: block;
	width: 150px;
	height: 150px;
	margin: 50px auto 0;
	border-radius: 50%;
	box-shadow: inset -25px -15px 40px rgba(0,0,0,.3);
	background-image: radial-gradient(circle at 65% 15%, #ffffff 1px, rgb(0, 255, 255) 3%, rgba(0, 0, 139, 0) 60%, rgb(236, 219, 219) 100%);
    animation-name: color-shift;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    transform: scale(1.5);  
}

.balance {
    margin-left: 9px;
}

.circle-container {
    display:flex;
    justify-content: center;
    align-items: center;
}

.circle-text {
    font-size: 200%;
    fill: grey;
}

svg {
    height: 350px;
    width: 350px;
    fill:white;
    transform: scale(0.75);
}

.project {
    transform: rotate(120deg);
}

#about {
    padding: 25px;
}

.profile {
    display:flex;
    align-items: center;
    flex-direction: column;
    /* background: green; */
}

.display {
    width: 400px;
}

.caption {

    width: 400px;
    margin-top: 25px;
    text-align: justify;
    text-justify: inter-word;
    height: 150px;
    overflow-y: scroll;
    border: solid grey 1px;
    padding: 5px;
}

footer {
    position: fixed;
    bottom:0;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 6;
}

.scroll-box{
    width: 400px;
    height: 10px;
    background-color: #ffffff;
    font-weight: bold;
    padding: 10px;
    position:relative;
    overflow: hidden;
}

.scroll {
    top: 10px;
    left: 100%;
    width: 100%;
    /* overflow: hidden; */
    position: absolute;
    white-space: nowrap;
    animation: marquee 7s linear infinite;
}

.project-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 500px;
    margin: 0 auto;
}

.project-card {
    border: solid grey 1px;
    padding: 5px;
    width:190px;
    margin: 5px;
    position: relative;
}

.project-card:hover::after{
    content: attr(title);
    position: absolute;
    z-index: 5;
    bottom: 10px;
    left: 10px;
    text-shadow:0 0 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.205);
    padding: 0 5px;
}

h3{ 
    display: inline;
    /* border: grey solid 1px;
    border-radius: 50px; */
    padding: 0 5px;

}

.card-caption {
    margin: 10px;
    text-align: center;
}

.big {
    width: 400px;
}

.project-card img {
    width: 100%;
    filter: grayscale(100%);
    transition: all 0.5s;
}

.project-card:hover img {
    filter: grayscale(50%) contrast(50%)
}

.contact-links {
    display: flex;
    justify-content: center;
}

#contact a {
    padding: 10px 10px;
}


@keyframes marquee {
    0% {
      left: 100%;
    }
    100% {
      left: -100%
    }
  }

@keyframes color-shift {
    0%   {background-color:red;}
    25%  {background-color:yellow;}
    50%  {background-color:rgb(212, 0, 255); left:200px; top:200px;}
    75%  {background-color:rgb(15, 128, 0); left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }

@media screen and (max-width: 500px) {
    .display {
        width: 100%;
    }
    .caption {
        width: 100%;
    }
    .project-wrapper{
        width: 100%;
    }
    .big{
        width: 190px;
    }
    .project-card::after{
        content: attr(title);
        position: absolute;
        z-index: 5;
        bottom: 10px;
        left: 10px;
        text-shadow:0 0 0;
        color: white;
        background-color: rgba(0, 0, 0, 0.205);
        padding: 0 5px;
    }
  }
  