body {
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.nametag{
    padding: 5px;
    background-color: #ffffff;
    position: fixed;
    top: 0;
}

h1 {
    font-size: 400%;
    color: grey;
    font-weight: bold;
    margin-top: 50px;
}

nav {
    color: grey;
}

a {
    color: rgb(85, 85, 85);
    text-decoration: none;
    /* font-size: 150%; */
    transition: all 0.5s;
}

a:hover {
    text-shadow:0 0 1px blue;
}

.sq-container {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.black-sq {
    width: 10px;
    height: 10px;
    background: grey;
    margin: 0 2px;
    display: inline-block;
}


.hero-sphere {
	display: block;
	width: 150px;
	height: 150px;
	margin: 50px auto 0;
	border-radius: 50%;
	box-shadow: inset -25px -15px 40px rgba(0,0,0,.3);
	background-image: radial-gradient(circle at 65% 15%, #ffffff 1px, rgb(0, 255, 255) 3%, rgba(0, 0, 139, 0) 60%, rgb(236, 219, 219) 100%);
    animation-name: color-shift;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    transform: scale(1.5);  
}

.balance {
    margin-left: 9px;
}

.circle-container {
    display:flex;
    justify-content: center;
    align-items: center;
}

.circle-text {
    font-size: 200%;
    fill: grey;
}

svg {
    height: 350px;
    width: 350px;
    fill:white;
    transform: scale(0.75);
}

.project {
    transform: rotate(120deg);
}

@keyframes color-shift {
    0%   {background-color:red;}
    25%  {background-color:yellow;}
    50%  {background-color:rgb(212, 0, 255); left:200px; top:200px;}
    75%  {background-color:rgb(15, 128, 0); left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }